/*Google Font Song Myung*/
@import url('https://fonts.googleapis.com/css?family=Song+Myung');

.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none
}
.welcomeText{
    font-family: 'Song Myung', serif;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}
.fontSongMyung{
    font-family: 'Song Myung', serif;
}
@media(max-width:768px){
    .toggle{
        display: block;
    }
    .menu{
        width: 100%;
        display: block;
        text-align: center;
    }
    .mobile-ul{
        display: block;
        text-align: center;
    }
}